body{
    height: 100%;
    padding: 0;
    margin:0;

}
html{
    height: 100%;
}
.para{
    font-size: 25px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bg-img5{
    background-image: url("https://4kwallpapers.com/images/wallpapers/saitama-yellow-3840x2160-10128.jpg");
    height: 100%;
    width: 100%;
}

.collect{
    display:flex;
    justify-content: center;
    align-items: center;
}
.contact{
    background-color: transparent;
    max-width: 30%;
    text-align: center;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px; */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin-left: auto; */
}
.bgimg-4, .bgimg-2, .bgimg-3, .bg-img5{
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-2 {
    background-image: url("https://wallpapersmug.com/download/1920x1080/d0eb43/monkey-d-luffy-one-piece-aime.jpg");
    height: 80%;
}
.bgimg-3 {
    background-image: url("https://wallpapers.com/images/hd/zoro-hd-sleeping-zoro-pcjidgl8gbatrqa2.jpg");
    height: 90%;
}
.bgimg-4 {
    background-image: url("https://images6.alphacoders.com/133/1330282.jpeg");
    height: 80%;
}
.link-img{
    width: 30px;
    height: 30px;
}
.social{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 10%;
    margin-left: auto;
}
h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

.logo {
    float:left;
    position: relative;
    max-width: 214px;
    max-height: 54px;
}

.logo img{
    display: block;
    padding:0;
    margin:0;
    height: auto;
    max-width: 100%;
}
.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 175%;
    font-family: 'Jacquard 12';
    color: whitesmoke;
    margin:0;
}

.logo:hover .name{
    font-size: 250%;
    transition-duration: 0.5s;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(213, 212, 212, 0.359);
    align-items: center;
    overflow: hidden;
    padding:0;
}

.navbar .rem_nav a{
    float:left;
    padding: 15px 30px 10px ;
    align-items: center;
    background-color: #00000049;
    text-decoration: none;
    font-size: 20px;
    height: 100%;
    color: white
}

.navbar .rem_nav{
    max-height: 54px;
    align-items: center;
    justify-content: center;
    height:100%;
    padding:0%;
    margin: 0%;
}

.rem_nav a:hover{
    background-color: #0000008f;
}

.break{
    background-color: #ce7624;
    height: 3px;
}

 .heading{
    text-align:center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px;
    justify-content: center;
    display: flex;
    padding-top: 40px;
    font-size: 50px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 6% auto 0;
    align-items: center;
    vertical-align: middle;
}
.single-card{
    flex-direction: column;
    position: relative;
    width: 25%;
    height: 50%;
    margin-top: 0px;
    box-shadow: 0 2px 20px rgb(0, 0, 0);
    transition: box-shadow 0.3s ease;
    background: white;
    overflow: hidden;
    border-radius: 5px;
    transition: all;
}
.img-area{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.img-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
  .img-area:hover img{
    transform: scale(1.1);
  }
  .info{
    padding: 10px;
    text-align: center;
  }
  .info h3{
    margin: 15px 0 10px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }   

/* body .frame{
    justify-content: center;
    align-items: center;
} */

@keyframes slideshow{
    0% {right: 0%}
    /* 50% {right: 50%} */
    30%{right: 98%}

    60%{right:196%}

    90%{right:294%}
}

.frame {
    margin-left: 5%;
    height: 90%;
    width:90%;
    overflow: hidden;
    position: relative;
    margin-bottom: 1%;
    /* box-shadow:10px 10px 5px #9c9c9c85; */
} 

.images {
    display: flex;
    position: relative;
    animation: slideshow 30s infinite;
    animation-delay: 2s;
}

/* .frame .image_container {
    overflow: hidden;
    height: 100%;
    width: 200%;    
    object-fit: cover;
} */

.images img{
    float:left;
    height:90%;
    width:90%;
    padding: 0 30px;
    margin: 0px 30px;
}

.all{
    height:100%;
}

.input {
    font-size: large;
    font-weight: bold;
}

.submit-btn {
    margin-top: 20px;
    border:none;
    padding: 40px 20px;
    background-color: transparent;
    background-image: url("sharingan.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.submit-btn:hover{
    filter: drop-shadow(0px 0px 15px rgba(255, 47, 47, 0.818));
    transition-duration: 0.5s;
    animation: rotate 3s infinite;
    animation-direction: linear;
}

::placeholder{
    font-size: 15px;
    font-weight: 400;
}

@keyframes rotate{
    100%{transform: rotate(360deg);}
}
